
-e git+https://github.com/threesixtygiving/datagetter.git@master#egg=datagetter
-e git+https://github.com/OpenDataServices/cove.git@master#egg=cove

#  These are currently requirements for cove (which are not availabe on pypi)
#  see https://github.com/OpenDataServices/cove/blob/master/requirements.in
-e git+https://github.com/OpenDataServices/lib-cove-web.git@v0.10.0#egg=libcoveweb
#  end cove requirements

ijson
